/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(121, 25, 185) 0%,
    rgb(63, 111, 208) 100%
  );
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Montserrat', sans-serif;

}
