* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: white;
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    color: rgb(255, 255, 255);

    mat-icon {
      font-size: 20px;
    }
  }
  button:hover {
    color: rgb(2, 2, 154);
    background-color: white;
  }
  h3 {
    margin-left: 10px;
  }
}
.content {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
mat-card {
  width: 100%;
  padding: 10px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
