
.parent {
    // width: 100%;
    // height: 84vh;
    // background-color: rgb(142, 170, 40);
    display: flex;
    overflow: hidden;
}

.left {
    color: rgb(3, 0, 0);
    width: 250px;
    margin-left: 8px;
    margin-right: 8px;
    // background-color: rgb(109, 118, 237);
}

.right {
    width: 80%;
}

.console {
    height: 100vh;
    background-color: rgb(148, 132, 132);
}

//----------
/* resizable-layout.component.css */
// .resizable-container {
//     display: flex;
//     height: 100vh;
//     overflow: hidden;
// }



.splitter {
    cursor: ew-resize;
    background-color: #d7d7d7;
    width: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

// .splitter i {
//     font-size: 16px;
// }