/* login.component.css */
.background-logo{
  height: 350px;
  background-image: url(../../assets/login.png);
  background-size: cover;
  background-position: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.login-header {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// label {
//   font-weight: bold;
// }

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #5c51f8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ca3df4;
}

.error-message {
  color: red;
}